<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<style>
    body {
        background-color: hotpink;
        font-family:cursive;
}

h1 {
    color: deeppink;    
}

    label, p {
        font-size: 18px;
        color: white;
    }
</style>

<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>
            <form class="form" method="post">
                <div class="form-group">
                    <label for="hobbynameTextField">Hobby Name</label>
                    <input type="text" class="form-control"
                    id="hobbynameTextField"
                    placeholder="Enter the hobby"
                    name="hobbyname" 
                    value="<%= hobby.hobbyname%>"
                    required>
                </div>
                <br> 

                    <div class="form-group">
                    <label for="category">Category</label>
                    <select class="form-control" id="category" name="category" required>
                        <option value="" disabled>Select the category of hobby</option>
                        <option value="Art" <%= hobby.category === 'Art' ? 'selected' : '' %>>Art</option>
                        <option value="Music" <%= hobby.category === 'Music' ? 'selected' : '' %>>Music</option>
                        <option value="Sports" <%= hobby.category === 'Sports' ? 'selected' : '' %>>Sports</option>
                        <option value="Outdoors" <%= hobby.category === 'Outdoors' ? 'selected' : '' %>>Outdoors</option>
                        <option value="Gaming" <%= hobby.category === 'Gaming' ? 'selected' : '' %>>Gaming</option>
                        <option value="Coking&Baking" <%= hobby.category === 'Coking&Baking' ? 'selected' : '' %>>Cooking & Baking</option>
                        <option value="Technology&Coding" <%= hobby.category === 'Technology&Coding' ? 'selected' : '' %>>Technology & Coding</option>
                        <option value="Collecting" <%= hobby.category === 'Collecting' ? 'selected' : '' %>>Collecting</option>
                        <option value="Other" <%= hobby.category === 'Other' ? 'selected' : '' %>>Other</option>
            
                        <option value="Other" <%= !['Art','Music','Sports', 'Outdoors', 'Gaming', 'Cooking&Baking', 'Technology&Coding', 'Collecting'].includes(hobby.category) ? 'selected' : '' %>>Other</option>
                    </select>
                </div>
                <br>

                <div class="form-group">
                    <label for="descriptionTextArea">Hobby Description</label>
                    <textarea type="text" class="form-control"
                    id="descriptionTextArea"
                    placeholder="Enter the description of the hobby"
                    name="description" required>
                    <%= hobby.description%>
                </textarea>
                </div>
                <br>

                <div type="number" class="form-group">
                    <label for="averagecostTextField">Average Cost</label>
                    <input type="text" class="form-control"
                    id="averagecostTextField"
                    placeholder="Enter the average cost of the hobby"
                    name="averagecost" 
                    value="<%= hobby.averagecost%>"
                    min=" "0"
                    step=" "1"
                    required>
                </div>
                <br> 

                <div class="form-group">
                    <label for="interactiontypeSelect">Interaction Type</label>
                    <select class="form-control" id="interactiontype" name="interactiontype" required>
                        <option value="" disabled>Select number of people required</option>
                        <option value="Solo" <%= hobby.interactiontype === 'Solo' ? 'selected' : '' %>>Solo</option>
                        <option value="Partner" <%= hobby.interactiontype === 'Partner' ? 'selected' : '' %>>Partner</option>
                        <option value="Group" <%= hobby.interactiontype === 'Group' ? 'selected' : '' %>>Group</option>
                        <option value="Other" <%= !['Solo','Partner','Group'].includes(hobby.interactiontype) ? 'selected' : '' %>>Other</option>
                    </select>
                </div>
                <br>

                <div class="form-group">
                    <label for="starsofjoyratingTextField">Stars Of Joy (rating out of 5)</label>
                    <input type="text" class="form-control"
                    id="starsofjoyratingTextField"
                    placeholder="Enter the stars of joy (rating) for the hobby"
                    name="starsofjoyrating" 
                    value="<%= hobby.starsofjoyrating%>"
                    required>
                </div>
                <br>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit
                </button>
                <a href="/hobby" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel
                </a>
            </form>
        </div>
    </div>
</div>
<%- include ../partials/footer.ejs %>