<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>
            <form class="form" method="post">
                <div class="form-group">
                    <label for="hobbynameTextField">Hobby Name</label>
                    <input type="text" class="form-control"
                    id="hobbynameTextField"
                    placeholder="Enter the hobby"
                    name="hobbyname" 
                    value="<%= hobbyList.hobbyname%>"
                    required>
                </div>
                <div class="form-group">
                    <label for="categoryTextField">Category</label>
                    <input type="text" class="form-control"
                    id="categoryTextField"
                    placeholder="Enter the hobby category"
                    name="category" 
                    value="<%= hobbyList.category%>"
                    required>
                </div>
                <div class="form-group">
                    <label for="descriptionTextArea">Hobby Description</label>
                    <textarea type="text" class="form-control"
                    id="descriptionTextArea"
                    placeholder="Enter the description of the hobby"
                    name="description" required>
                    <%= hobbyList.description%>
                </textarea>
                </div>
                <div type="number" class="form-group">
                    <label for="averagecostTextField">Average Cost</label>
                    <input type="text" class="form-control"
                    id="averagecostTextField"
                    placeholder="Enter the average cost of the hobby"
                    name="averagecost" 
                    value="<%= hobbyList.averagecost%>"
                    min=" "0"
                    step=" "1"
                    required>
                </div>
                <div type="number" class="form-group">
                    <label for="interactiontypeTextField">Interaction Type</label>
                    <input type="text" class="form-control"
                    id="interactiontypeTextField"
                    placeholder="Enter the number of people required to do the hobby"
                    name="interactiontype" 
                    value="<%= hobbyList.interactiontype%>"
                    min="0"
                    max="5"
                    step="1"
                    required>
                </div>
                <div class="form-group">
                    <label for="starsofjoyratingTextField">Stars Of Joy (rating out of 5)</label>
                    <input type="text" class="form-control"
                    id="starsofjoyratingTextField"
                    placeholder="Enter the stars of joy (rating) for the hobby"
                    name="starsofjoyrating" 
                    value="<%= hobbyList.starsofjoyrating%>"
                    required>
                </div>
                <br>
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit
                </button>
                <a href="/hobby" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel
                </a>
            </form>
        </div>
    </div>
</div>
<%- include ../partials/footer.ejs %>