<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-11">
            <h1><%= title %></h1>

            <a href="/hobby/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add a Hobby
            </a>

            <table class="table table-bordered table-striped table-hover">

                <!-- Header Row -->
                <tr class="d-flex">
                    <th class="text-center col-2">Name</th>
                    <th class="text-center col-2">Category</th>
                    <th class="text-center col-4">Description</th>
                    <th class="text-center col-1">Average Cost</th>
                    <th class="text-center col-1">Interaction Type</th>
                    <th class="text-center col-1">Stars Of Joy</th>
                    <th class="text-center col-1"></th>
                    <th class="text-center col-1"></th>
                </tr>

                <% for (let count = 0; count < hobbyList.length; count++) { %>
                <tr class="d-flex"> 
                    <td class="text-center col-2"><%= hobbyList[count].hobbyname %></td>
                    <td class="text-center col-2"><%= hobbyList[count].category %></td>
                    <td class="text-center col-4"><%= hobbyList[count].description %></td>
                    <td class="text-center col-1"><%= hobbyList[count].averagecost %></td>
                    <td class="text-center col-1"><%= hobbyList[count].interactiontype %></td>
                    <td class="text-center col-1"><%= hobbyList[count].starsofjoyrating %></td>

                    <td class="text-center col-1">
                        <a href="/hobby/edit/<%= hobbyList[count]._id %>" 
                           class="btn btn-primary btn-sm">
                            <i class="fas fa-pencil-alt"></i> Edit
                        </a>
                    </td>

                    <td class="text-center col-1">
                        <a href="/hobby/delete/<%= hobbyList[count]._id %>" 
                           class="btn btn-danger btn-sm"> 
                            <i class="fas fa-trash-alt"></i> Delete
                        </a>
                    </td>
                </tr>
                <% } %>

            </table>
        </div>
    </div>
</main>

<br><br>

<%- include ../partials/footer.ejs %>
